<div class="secBg sidebar">
    <div class="widgetBox">
        <div class="widgetTitle">
        </div>
        <div class="widgetContent">
            <ul class="accordion">
                <li class="accordion-item is-active">
                    <ul>
                        <div class="row">
                            <div class="large-6 columns">
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('main')"><i class="fa fa-minus categoryi"></i>Main</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('popular')"><i class="fa fa-fire categoryi"></i>Popular</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('news')"><i class="fa fa-newspaper-o categoryi"></i>News</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('education')"><i class="fa fa-graduation-cap categoryi"></i>Education</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('games')"><i class="fa fa-gamepad categoryi"></i>Games</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('tech')"><i class="fa fa-rocket categoryi"></i>Tech</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('travel')"><i class="fa fa-suitcase categoryi"></i>Travel</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('shows')"><i class="fa fa-television categoryi"></i>shows</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('entertainment')"><i class="fa fa-thumbs-o-up categoryi"></i>Entertainment</a></li>
                            </div>
                            <div class="large-6 columns">
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('music')"><i class="fa fa-music categoryi"></i>Music</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('people')"><i class="fa fa-users categoryi"></i>People</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('autos')"><i class="fa fa-car categoryi"></i>Autos</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('sports')"><i class="fa fa-futbol-o categoryi"></i>Sports</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('film')"><i class="fa fa-film categoryi"></i>Film</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('howto')"><i class="fa fa-leanpub categoryi"></i>Tips</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('nonprofit')"><i class="fa fa-heart-o categoryi"></i>Non Profit</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('comedy')"><i class="fa fa-smile-o categoryi"></i>Comedy</a></li>
                                <li class="clearfix categoryli"><a class="categorya" (click)="GoTubeListCategory('animals')"><i class="fa fa-eye categoryi"></i>Animals</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>